@charset "utf-8";
/* CSS Document */

#sessions-sync {
	width: 700px;
	height: 400px;
	margin: -200px -350px;

	background: #FFF;
	border: 1px solid #CCC;
	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
}

#sessions-sync .group {
	width: 100%;
	clear: both;
}

#sessions-sync #content {
	width: 100%;
	height: 100%;
	/*padding: 2px;*/
	border-radius: 3px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #close {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: url('images/close.png') center no-repeat;
	position: absolute;
	top: 4px;
	right: 4px;
}

#sessions-sync #close:hover {
	background: url('images/close2.png') center no-repeat;
	/*background: #E25A28;*/
	cursor: pointer;
}

/*
 * Panel Body
 */

#sessions-sync #body {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

/*
 * Display lsit of all Sessions
 */

#sessions-sync #sessions {
	width: 250px;
	height: 100%;
	padding: 0px;
	/*border: 1px solid #CCC;*/
	border-right: 1px solid #CCC;
	background: hsla(0, 0%, 100%, 0.95);
	float: left;
	overflow: hidden;

	/*CSS3*/
	display: flex;
	flex-direction: column;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #search {
	width: calc(100% - 20px);
	height: 24px;
	margin: 10px;
	padding: 0 10px;
	color: #555;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #sessions .category {
	margin: 0 0 5px 0;
	padding: 3px 6px;
	border-top: 1px solid #CCC;
}

#sessions-sync #sessions .category .title {
	padding: 2px 10px 2px 0;
	border: none;
	text-align: left;
	color: #999;
}

#sessions-sync #sessions .list {
	width: 100%;
	padding: 0 6px 6px 6px;
	overflow: auto;
	position: relative;
	overflow: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex: 1;
	transition: width 0.2s;
}

#sessions-sync #sessions .list:hover {
	overflow: auto;
}

#sessions-sync #sessions .list > div {
	margin: 0 0 2px 0;
}

#sessions-sync #sessions .list .date {
	padding: 2px 10px 2px 0;
	border-top: 1px solid #999;
	text-align: right;
	color: #999;
}

#sessions-sync #sessions .date:first-child {
	border-top: none;
}

/*
#sessions-sync #sessions .list:after {
	content: "";
	width: 100%;
	height: 40px;
	background-image: url('images/down_grey.png'),
					linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
	background-position: center bottom;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
}

#sessions-sync #sessions .list:before {
	content: "";
	width: 100%;
	height: 40px;
	background-image: url('images/up_grey.png'),
					linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
	background-position: center top;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
}
*/

/*
 * Style Folder Session
 */

#sessions-sync #sessions .folder {
	height: 30px;
	padding: 0 0 0 10px;
	line-height: 30px;
	word-break: keep-all;
	overflow: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #sessions .folder:hover {
	background: #EEE;
	cursor: pointer;
}

#sessions-sync #sessions .folder[active="true"] {
	background: #629BD4;
	color: #FFF;
}

/*
 * Display info about a Session
 */

#sessions-sync #session-info {
	width: calc(100% - 250px);
	height: 100%;
	background: #FEFEFE;
	float: right;

	/*CSS3*/
	display: flex;
	flex-direction: column;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #session-info #description {
	width: 100%;
	height: 45px;
	padding: 10px;
	background: #F5F5F5;
	border-bottom: 1px solid #CCC;
	font-size: 16px;
	color: #555;
	overflow: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Style Tabs
 */

#sessions-sync #session-info .tabs {
	width: 100%;
	padding: 4px;
	overflow: auto;

	/*CSS3*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex: 1;
}

#sessions-sync #session-info .tab {
	width: 100%;
	margin: 0;
	padding: 2px;
	border: #999;
	display: inline-block;
	position: relative;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #session-info .tab:hover {
	background: hsla(180, 50%, 90%, 0.8);
	cursor: pointer;
}

#sessions-sync #session-info .tab[active] {
	background: hsla(180, 50%, 90%, 0.6);
}

#sessions-sync #session-info .tab > * {
	float: left;
}

#sessions-sync #session-info .tab .title {
	width: 100%;
	height: 16px;
}

#sessions-sync #session-info .tab .title > * {
	float: left;
}

#sessions-sync #session-info .tab .title .favicon {
	background: url('images/favicon.png');
	background-size: 100% 100%;
	width: 16px;
	height: 16px;
}

#sessions-sync #session-info .tab .title .text {
	width: calc(100% - 20px);
	height: 100%;
	padding: 0 5px;
	word-break: keep-all;
	overflow: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #session-info .tab .url {
	max-width: 100%;
	padding: 3px;
	font-style: italic;
	float: left;
	display: none;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #session-info .tab .url:hover {
	text-decoration: underline;
}

#sessions-sync #session-info .tab .remove {
	width: 20px;
	height: 20px;
	background: url('images/edit.png') center no-repeat;
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

#sessions-sync #session-info .tab .remove:hover {
	background: url('images/edit2.png') center no-repeat;
}


#sessions-sync #session-info .tab[active] .url {
	display: block;
}

#sessions-sync #session-info .tab[active] .remove {
	display: block;
}

/*
 * Session Info States
 */

#sessions-sync #session-info[state="current"] #description {
	display: none;
}

#sessions-sync #session-info[state="current"] #menu {
	display: block;
}

#sessions-sync #session-info[state="current"] #menu > * {
	display: none;
}

#sessions-sync #session-info[state="current"] #save {
	display: block;
}

#sessions-sync #session-info[state="save-current"] #description {
	display: none;
}

#sessions-sync #session-info[state="save-current"] #edit-panel {
	display: block;
}

#sessions-sync #session-info[state="save-current"] #menu {
	display: none;
}

#sessions-sync #session-info[state="save-current"] #delete {
	display: none;
}

#sessions-sync #session-info[state="edit"] #description {
	display: none;
}

#sessions-sync #session-info[state="restore"] #menu {
	display: block;
}

#sessions-sync #session-info[state="edit"] #edit-panel {
	display: block;
}

#sessions-sync #session-info[state="edit"] #delete {
	display: block;
}

/**
 * 	Menu Section
 */


#sessions-sync #menu {
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #CCC;
	background: #EEE;
	display: none;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #menu > div {
	padding: 0px 10px;
	font-size: 14px;
	color: #555;
	float: left;
}

#sessions-sync #menu > div:hover {
	color: #000;
	cursor: pointer;
}

#sessions-sync #menu #save {
	display: none;
}


/**
 * 	Edit Session Section
 */
#sessions-sync #edit-panel {
	width: 100%;
	padding: 10px;
	background: #EEE;
	border-bottom: 1px solid #CCC;
	display: none;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync #edit-panel .group {
	margin: 3px 0;
	float: left;
}

#sessions-sync #edit-panel label {
	width: 80px;
	float: left;
}

#sessions-sync #edit-panel input {
	width: calc(100% - 100px);
	float: left;
}

#sessions-sync #edit-panel .button {
	padding: 0 10px;
	font-size: 14px;
	text-align: center;
	color: #555;
	float: right;
}

#sessions-sync #edit-panel .button:hover {
	color: #000;
	cursor: pointer;
}


