/**
 * Session-Sync
 */
#session-sync {
	width: 100%;
	height: 100%;
	min-height: 400px;
	margin: 0;

	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

	color: #000 !important;
	overflow: hidden;

	-moz-user-select: none;
}

#session-sync[panel="false"] {
	position: absolute;
}

#session-sync[panel="false"] .sessions-area .panel-resize-handle {
	display: none;
}

/*
 * Only DOM nodes from here
 */

#session-sync #overlay {
	width: 100%;
	height: 100%;

	background: rgba(255, 255, 255, 0.01);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2500;

	display: none;
}

#session-sync #overlay[state="true"] {
	display: block;
}

/*
 * Panel Body
 */

 #session-sync #body {
	 height: 100%;
 }

#session-sync[config] .body {
	background-color: rgba(255, 255, 255, 0.95);
}

#session-sync .sessions-area {
	width: 100%;
	height: 100%;

	box-sizing: border-box;

	transition: all 0.2s;

	display: flex;
	flex-direction: column;
}

#session-sync[show="false"] .sessions-area {
	display: none;
}

#session-sync[state="pin"] .sessions-area {
	top: 0;
	right: 0;
	margin: 0;
	transform: translate(0);
}

#session-sync[state="centered"] .sessions-area {
	top: calc(50% - 50px);
	left: 50%;
	transform: translate(-50%, -50%);
}

#session-sync[config] .sessions-area {
	left: 400px;
	top: 20%;
	transform: translate(0);
}

#session-sync .sessions-area-body {
	width: 100%;
	overflow: hidden;

	flex: 1;
	display: flex;
	flex-direction: row;
}

/*
 * Container resize
 */

#session-sync[resize] .body {
	background: rgba(255, 255, 255, 0.95) !important;
	cursor: se-resize;
}

#session-sync[resize] .sessions-area {
	transition: none;
}

#session-sync .sessions-area .panel-resize-handle
{
	content: " ";
	width: 12px;
	height: 12px;
	margin-top: -12px;
	background: url("images/resize.png") center no-repeat !important;
	position: absolute;
	background: #DDD;
	bottom: 0;
	left: 0px;
	cursor: sw-resize;
	z-index: 10;

	transform: rotate(90deg);
}

#session-sync .sessions-area .panel-resize-handle:hover
{
	background: #1AB61A;
}

#session-sync .sessions-area .panel-resize-handle[resizing]
{
	background: #2D92EB;
}

#clipboard {
	position: absolute;
	top: -100px;
	z-index: -100;
}