/** 
 * Session-Sync-Add-on-ReD is a XUL element
 */
#Session-Sync-Add-on-ReD {
	width: 100%;
	
	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

	color: #000 !important;
	text-shadow: none !important;

	position: fixed;
	z-index: 100;
}

#Session-Sync-Add-on-ReD[show="true"] {
	width: 100%;
	height: 100%;
	left: 0;
}

#Session-Sync-Add-on-ReD[config] {
	height: 100%;
}

#Session-Sync-Add-on-ReD[show="false"] {
	height: 0;
	left: -3px;
}

/*
 * Only DOM nodes from here
 */

/*
 * Panel Body
 */

#Session-Sync-Add-on-ReD .body {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease-in;
	/* 
	background-image: url("images/kanade.jpg");
	background-size: contain;
	*/
}

#Session-Sync-Add-on-ReD[config] .body {
	background-color: rgba(255, 255, 255, 0.95);
}

#Session-Sync-Add-on-ReD .sessions-area {
	width: 750px;
	height: 500px;
	min-width: 500px;
	min-height: 400px;
	max-width: 90%;
	max-height: 80%;
	
	border: 1px solid #BBB;
	position: absolute;
	top: 125px;

	box-shadow: 0px 5px 15px 0px #CCC;
	box-sizing: border-box;

	transition: all 0.2s;
	transform-style: preserve-3d;

	z-index: 1000;
	display: flex;
	flex-direction: column;
}

#Session-Sync-Add-on-ReD[show="false"] .sessions-area {
	display: none;
}

#Session-Sync-Add-on-ReD[state="pin"] .sessions-area {
	top: 0;
	right: 0;
	margin: 0;
	transform: translate(0);
}

#Session-Sync-Add-on-ReD[state="centered"] .sessions-area {
	top: calc(50% - 50px);
	left: 50%;
	transform: translate(-50%, -50%);
}

#Session-Sync-Add-on-ReD[config] .sessions-area {
	left: 400px;
	top: 20%;	
	transform: translate(0);
}

#Session-Sync-Add-on-ReD .sessions-area-body {
	width: 100%;
	overflow: hidden;

	flex: 1;
	display: flex;
	flex-direction: row;
}

/*
 * Container resize
 */

#Session-Sync-Add-on-ReD[resize] {
	width: 100%;
	height: 100%;
}

#Session-Sync-Add-on-ReD[resize] .body {
	background: rgba(255, 255, 255, 0.95) !important;
	cursor: se-resize;
}

#Session-Sync-Add-on-ReD[resize] .sessions-area {
	transition: none;
}

#Session-Sync-Add-on-ReD .sessions-area .panel-resize-handle
{
	content: " ";
	width: 12px;
	height: 12px;
	margin-top: -12px;
	background: url("images/resize.png") center no-repeat !important;
	position: absolute;
	background: #DDD;
	bottom: 0;
	right: 0px;
	cursor: se-resize;
	z-index: 10;
}

#Session-Sync-Add-on-ReD .sessions-area .panel-resize-handle:hover
{
	background: #1AB61A;
}

#Session-Sync-Add-on-ReD .sessions-area .panel-resize-handle[resizing]
{
	background: #2D92EB;
}

/*
 * Media Queries
 */
/*
@media (max-height: 900px) {
	#Session-Sync-Add-on-ReD[state="centered"] .sessions-area {
		top: 125px;
	}
}

@media (max-height: 700px) {
	#Session-Sync-Add-on-ReD[state="centered"] .sessions-area {
		top: 60px;
	}
}
*/