#sessions-sync .bookmark-edit {
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #FFF;
	position: absolute;
	top: 0px;
	left: 100%;
	opacity: 0;
	z-index: -1;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.2s all ease-out;
}

#sessions-sync .bookmark-edit * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync[edit-bookmark] .bookmark-edit {
	left: 0;
	opacity: 1;
	z-index: 1;
}

#sessions-sync .bookmark-edit .group {
	margin: 0 0 10px 0;
	color: #3F7FBF;
	font-weight: bold;
	font-size: 12px;
}

#sessions-sync .bookmark-edit .group input {
	width: 100%;
	margin: 2px 0;
	height: 26px !important;
	/*padding: 3px 5px !important;*/
	border: 1px #DDD solid;

}

#sessions-sync .bookmark-edit label.group {
	width: 100%;
	display: block;
}

#sessions-sync .bookmark-edit .group textarea {
	width: 100%;
	min-height: 50px;
	max-height: 100px;
	border: 1px solid #DDD;
	resize: vertical;
}
#sessions-sync .bookmark-edit .group input:focus,
#sessions-sync .bookmark-edit .group textarea:focus {
	border-color: #7DBED8;
}

#sessions-sync .bookmark-edit .button {
	width: 60px;
	margin: 10px 0 0 10px;
	padding: 3px 5px;
	border: 1px solid #DDD;
	font-weight: normal;
	color: #555;
	text-align: center;
	float: right;
}

#sessions-sync .bookmark-edit .button:hover {
	cursor: pointer;
	border-color: #7DBED8;
	background: #EFF9FA;
}