/**
 * Configuration button
 */

#Session-Sync-Add-on-ReD .config-panel {
	width: 350px;
	height: unset;
	min-height: 100%;
	font-size: 12px;
	border-right: 1px solid #CCC;
	background: #F5F5F5;
	opacity: 0.95;
	color: #000;

	position: absolute;
	top: 1px;
	left: -355px;
	z-index: 100;
	box-shadow: 0 0 3px 0 #CCC;
	
	transition: all 0.3s ease-out;
	opacity: 0.5;
}

#Session-Sync-Add-on-ReD[config] .config-panel {
	left: 0;
	opacity: 1;
}

#Session-Sync-Add-on-ReD[show="false"] .config-panel {
	left: -355px !important;
}

/*
 * Close button
 */

#Session-Sync-Add-on-ReD .config-panel .css-close-button {
	width: 2.4em;
	height: 2.4em;
	top: .5em;
	right: .5em;
	opacity: 0.85 !important;
	transition: all 0.2s ease-out;
}

#Session-Sync-Add-on-ReD .config-panel .css-close-button:hover {
	cursor: pointer;
	opacity: 0.7 !important;
}

/*
 * Logo
 */

#Session-Sync-Add-on-ReD .config-panel .logo {
	width: 100px;
	height: 64px;
	margin: 2em auto;
	padding: 0;
	border: none;
	background: url("images/icon64.png") center top no-repeat;
}

#Session-Sync-Add-on-ReD .config-panel .logo:hover {
	cursor: pointer;	
}

/*
 * Sctions
 */

#Session-Sync-Add-on-ReD .config-panel .section-container {
	height: auto;
	padding: 1em 0 0 0;
	border-bottom: 1px dashed #CCC;
	border: none;
}

#Session-Sync-Add-on-ReD .config-panel .section-container .section-title {
	padding: 0 1em;
	margin: 0 0 1em 0;
	font-weight: 600;
	text-align: left;
	color: #333;
	border-bottom: 1px solid #DDD;
	border-top: none;
	font-size: 14px;
}

#Session-Sync-Add-on-ReD .config-panel .section-container .section-title:hover {
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .config-panel .section-container .section-body {
	transition: all 0.2s ease-out;
}

#Session-Sync-Add-on-ReD .config-panel .section-container[collapsed] .section-body {
	overflow: hidden;
	height: 0px !important;
}

/*
 * Range control
 */

#Session-Sync-Add-on-ReD .config-panel .comp-range-control {
	width: 100%;
	height: 2em;
	margin: 0.5em 0;
	padding: 0 1em 0 2em;
	line-height: 1.8em;
	overflow: hidden;
	border: none;

	display: flex;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .config-panel .comp-range-control .label
{
	height: 100%;
	font-size: 1em;
	color: #555;
	border: none;
	word-break: break-all;
	float: left;
	font-size: 1.1em;

	flex: 1;
	box-sizing: border-box;
}


#Session-Sync-Add-on-ReD .config-panel .comp-range-control .range-input {
	width: 8em;
	margin: 0 1em 0 0;
	height: 100%;
	text-align: center; 
	box-sizing: border-box;
	float: left;
	display: flex;
}

#Session-Sync-Add-on-ReD .config-panel .comp-range-control .range-input > * 
{
	float: left;
}

#Session-Sync-Add-on-ReD .config-panel .comp-range-control .button {
	width: 2em;
	height: 100%;
	filter: opacity(50%);
	transition: 0.2s all;
}

#Session-Sync-Add-on-ReD .config-panel .comp-range-control .button:hover {
	cursor: pointer;
	filter: opacity(100%);
}

#Session-Sync-Add-on-ReD .config-panel .comp-range-control .button.inc {
	background: url("images/arrow-right.png") center top no-repeat;
	background-size: 100%;
}

#Session-Sync-Add-on-ReD .config-panel .comp-range-control .button.dec
{
	background: url("images/arrow-left.png") center top no-repeat;
	background-size: 100%;
}

#Session-Sync-Add-on-ReD .config-panel .comp-range-control .value {
	margin: 0 0.2em;
	width: 2.8em !important;
	background: #FFF;
	text-align: center;
	line-height: 1.8em;
	color: #2D92EB;
	font-size: 1.1em;
}

/*
 * Toggle control
 */

#Session-Sync-Add-on-ReD .config-panel .comp-toggle-button {
	width: 100%;
	height: 2em;
	margin: 5px 0;
	padding: 0 1em 0 2em;
	line-height: 1.8em;
	display: flex;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .config-panel .comp-toggle-button .label {
	height: 100%;
	color: #555;
	word-break: break-all;
	font-size: 1.1em;
	float: left;

	flex: 1;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .config-panel .comp-toggle-button .button {
	width: 8em;
	height: 100%;
	margin: 0 1em 0 0;
	border-radius: 1em;
	line-height: 1.9em;
	color: white;
	text-align: center;
	float: left;
}

#Session-Sync-Add-on-ReD .config-panel .comp-toggle-button .button:hover {
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .config-panel .comp-toggle-button .button[state='true'] {
	background: #38B751;
}

#Session-Sync-Add-on-ReD .config-panel .comp-toggle-button .button[state='false'] {
	background: #66AAEF;
	background: #CCC;
}

#Session-Sync-Add-on-ReD .config-panel .comp-toggle-button .button[state='disable'] {
	background: #66AAEF;
	background: #CCC;
}


/*
 * Dropdown Component
 */

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown {
	width: 100%;
	height: 2em;
	margin: 5px 0;
	padding: 0 1em 0 2em;
	line-height: 1.8em;
	display: flex;
	box-sizing: border-box;	
}

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown .label {
	height: 100%;
	color: #555;
	text-align: left;
	word-break: break-all;
	font-size: 1.1em;
	float: left;

	flex: 1;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown .select {
	width: 8em;
	height: 100%;
	margin: 0 1em 0 0;
	background: #38B751;
	border-radius: 1em;
	line-height: 1.9em;
	color: white;
	text-align: center;
	float: left;
	
	transition: all 0.2s ease-out;
}

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown .select:hover {
	cursor: pointer;
	background: #66AAEF;
}

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown .drop-list {
	width: 14em;
	top: calc(100% + 0px);
}

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown .drop-list .option {
	width: 16.6%;
}

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown[id="SpecialKey"] .drop-list {
	width: 8em;
}

#Session-Sync-Add-on-ReD .config-panel .comp-dropdown[id="SpecialKey"] .option {
	width: 100%;
}

#Session-Sync-Add-on-ReD .config-panel .section-container[id='auto-save'] {
	display: block;
}

/*
 * Custom states
 */

#Session-Sync-Add-on-ReD[auto-save="false"] .config-panel .section-container[id='auto-save'] .comp-range-control {
	display: none;
}

#Session-Sync-Add-on-ReD[hotkey="false"] .config-panel .section-container[id='hotkey'] .comp-dropdown {
	display: none;
}

