/**
 * Configuration button
 */

#session-sync .config-panel {
	width: 350px;
	padding: 30px 0 0 0;
	font-size: 12px;
	border-right: 1px solid #CCC;
	background: #F5F5F5;
	opacity: 0.95;
	color: #000;

	overflow-y: auto;
	position: absolute;
	top: 1px;
	bottom: 1px;
	right: -355px;
	z-index: 2000;
	box-shadow: 0 0 10px 0 #CCC;

	transition: all 0.25s ease-out;
	opacity: 0.5;
}

#session-sync[config] .config-panel {
	right: 0;
	opacity: 1;
}

#session-sync[show="false"] .config-panel {
	right: -355px !important;
}

/*
 * Close button
 */

#session-sync .config-panel .css-close-button {
	width: 2.4em;
	height: 2.4em;
	top: .5em;
	right: .5em;
	opacity: 0.85 !important;
	transition: all 0.2s ease-out;
}

#session-sync .config-panel .css-close-button:hover {
	cursor: pointer;
	opacity: 0.7 !important;
}

/*
 * Logo
 */

#session-sync .config-panel .logo {
	width: 100px;
	height: 64px;
	margin: 2em auto;
	padding: 0;
	border: none;
	background: url("images/icon64.png") center top no-repeat;
}

#session-sync .config-panel .logo:hover {
	cursor: pointer;
}

/*
 * Sctions
 */

#session-sync .config-panel .section-container {
	height: auto;
	padding: 1em 0 0 0;
	border-bottom: 1px dashed #CCC;
	border: none;
	position: relative;
}

#session-sync .config-panel .section-container .section-title {
	margin: 0 0 1em 0;
	padding: 0;
	font-weight: 600;
	text-align: left;
	color: #333;
	border-bottom: 1px solid #DDD;
	border-top: none;
	font-size: 14px;
}

#session-sync .config-panel .section-container .section-title:hover {
	cursor: pointer;
}

#session-sync .config-panel .section-container .section-body {
	transition: all 0.2s ease-out;
}

#session-sync .config-panel .section-container[collapsed] .section-body {
	overflow: hidden;
	height: 0px !important;
}

#session-sync .config-panel .section-container .drop-icon {
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.5em;
	background-image: url("images/arrow-up.png");
	background-size: contain;
	float: left;
}

#session-sync .config-panel .section-container[collapsed] .drop-icon {
	background-image: url("images/arrow-down.png");
	background-size: contain;
}

/*
 * Range control
 */

#session-sync .config-panel .comp-range-control {
	width: 100%;
	height: 2em;
	margin: 0.5em 0;
	padding: 0 1em 0 2em;
	line-height: 1.8em;
	overflow: hidden;
	border: none;

	display: flex;
	box-sizing: border-box;
}

#session-sync .config-panel .comp-range-control .label
{
	height: 100%;
	font-size: 1em;
	color: #555;
	border: none;
	word-break: break-all;
	float: left;
	font-size: 1.1em;

	flex: 1;
	box-sizing: border-box;
}


#session-sync .config-panel .comp-range-control .range-input {
	width: 8em;
	margin: 0 1em 0 0;
	height: 100%;
	box-sizing: border-box;
	float: left;
	display: flex;
}

#session-sync .config-panel .comp-range-control .range-input > * {
	float: left;
}

#session-sync .config-panel .comp-range-control .range-input .value {
	text-align: center !important;
}

#session-sync .config-panel .comp-range-control .button {
	width: 2em;
	height: 100%;
	filter: opacity(50%);
	transition: 0.2s all;
}

#session-sync .config-panel .comp-range-control .button:hover {
	cursor: pointer;
	filter: opacity(100%);
}

#session-sync .config-panel .comp-range-control .button.inc {
	background: url("images/arrow-right.png") center top no-repeat;
	background-size: 100%;
}

#session-sync .config-panel .comp-range-control .button.dec
{
	background: url("images/arrow-left.png") center top no-repeat;
	background-size: 100%;
}

#session-sync .config-panel .comp-range-control .value {
	width: 2.8em;
	margin: 0 0.2em;
	padding: 0;

	background: #FFF;
	border: 1px solid #CCC;

	font-size: 1.1em;
	text-align: center;
	line-height: 1.8em;
	color: #2D92EB;
}

/*
 * Toggle control
 */

 #session-sync .config-panel .comp-button,
 #session-sync .config-panel .comp-dropdown,
 #session-sync .config-panel .comp-toggle-switch,
 #session-sync .config-panel .comp-toggle-button {
	width: 100%;
	height: 2em;
	margin: 5px 0;
	padding: 0 1em 0 2em;
	line-height: 1.8em;
	display: flex;
	box-sizing: border-box;
}

#session-sync .config-panel .comp-button .label,
#session-sync .config-panel .comp-dropdown .label,
#session-sync .config-panel .comp-toggle-switch .label,
#session-sync .config-panel .comp-toggle-button .label {
	height: 100%;
	color: #555;
	word-break: break-all;
	font-size: 1.1em;
	float: left;

	flex: 1;
	box-sizing: border-box;
}

#session-sync .config-panel .comp-toggle-switch .switch,
#session-sync .config-panel .comp-toggle-button .button {
	width: 8em;
	height: 100%;
	margin: 0 1em 0 0;
	border-radius: 1em;
	line-height: 1.9em;
	color: white;
	text-align: center;
	float: left;
}

#session-sync .config-panel .comp-toggle-switch .switch {
	flex: unset;
}

#session-sync .config-panel .comp-toggle-button .button:hover {
	cursor: pointer;
}

#session-sync .config-panel .comp-toggle-button .button[state="true"] {
	background: #38B751;
}

#session-sync .config-panel .comp-toggle-button .button[state="false"] {
	background: #66AAEF;
}

#session-sync .config-panel .comp-toggle-button .button[state="disable"] {
	background: #66AAEF;
}

/*
 * Button Component
 */

#session-sync .config-panel .comp-button .button {
	width: 8em;
	height: 100%;
	margin: 0 1em 0 0;
	border-radius: 1em;
	line-height: 1.9em;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: unset;
	padding: 0 0.75em;
	box-sizing: border-box;
}

/*
 * Dropdown Component
 */

#session-sync .config-panel .comp-dropdown .select {
	width: 8em;
	height: 100%;
	margin: 0 1em 0 0;
	background: #38B751;
	border-radius: 1em;
	line-height: 1.9em;
	color: white;
	text-align: center;
	float: left;

	transition: all 0.2s ease-out;
}

#session-sync .config-panel .comp-dropdown .select:hover {
	cursor: pointer;
	background: #66AAEF;
}

/*
 * Custom states
 */

#session-sync[history="false"] .config-panel .section-container[id="history-config"] .comp-range-control {
	display: none;
}
