#Session-Sync-Add-on-ReD .context-menu {
	width: 135px;
	padding: 5px;
	background: #FFF;
	border: 1px #CCC solid;

	display: none;
	position: fixed;
	left: 0;
	top: 0;

	box-shadow: 3px 3px 5px 0 #CCC;
	transform: translateX(5px);
	z-index: 2;
}

#Session-Sync-Add-on-ReD .context-menu[data-active="true"] {
	display: block;
}

#Session-Sync-Add-on-ReD .context-menu .button {
	width: 100%;
	padding: 5px;

	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .context-menu .button:hover {
	background: #EEE;
	cursor: pointer;
}
