#sessions-sync .context-menu {
	width: 135px;
	padding: 5px;
	background: #F5F5F5;
	border: 1px #CCC solid;

	display: none;
	position: fixed;
	left: 0;
	top: 0;

	box-shadow: 3px 3px 5px 0 #CCC;
	transform: translateX(5px);
	z-index: 1;
}

#sessions-sync .context-menu[data-active="true"] {
	display: block;
}

#sessions-sync .context-menu .button {
	width: 100%;
	padding: 5px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sessions-sync .context-menu .button:hover {
	background: #EEE;
	cursor: pointer;
}
