/**
 * Filter Menu
 */

#session-sync .filter-panel {
	width: 150px;
	height: 100%;
	min-height: 10000px;
	font-size: 16px;
	border-right: 1px solid #DDD;
	background: #F5F5F5;
	opacity: 0.95;
	color: #000;

	position: absolute;
	top: 1px;
	z-index: 100;
	display: none;

	transition: all 0.3s;
}

#session-sync[show="true"] .filter-panel {
	left: 0px;
}

#session-sync[show="false"] .filter-panel {
	left: -151px;
}

#session-sync .filter-panel:hover {
	width: 200px;
}

#session-sync .filter-panel .logo {
	margin: 10px 0;
	height: 64px;
	width: 100%;
	background: url("images/icon64.png") center top no-repeat;
}

#session-sync .filter-panel .separator {
	margin: 5px 0;
	border-bottom: 1px solid #DDD;
}


#session-sync .filter-panel .session-box {
	padding: 5px 0;
	color: #555;
	text-align: center;
}

#session-sync .filter-panel .session-box:hover {
	background: #DDD;
	cursor: pointer;
}

#session-sync .filter-panel .session-box[active] {
	background: #2D92EB;
	color: #FFF;
}

#session-sync .filter-panel .filters {
}

#session-sync .filter-panel .filters .title {
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
}

#session-sync .filter-panel .label {
	height: 24px;
	padding: 3px 0;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	word-break: break-all;

	display: flex;
	position: relative;
	transition: background 0.2s;
}

#session-sync .filter-panel .label[edit-mode] div {
	display: none;
}

#session-sync .filter-panel .label[edit-mode] input {
	display: block;
}


#session-sync .filter-panel .label:hover {
	cursor: pointer;
	background: #FFF;
	transition: none;
}

#session-sync .filter-panel .name {
	width: 80%;
	padding: 0 10px;
	text-align: right;
	overflow: hidden;

	flex: 1;
}

#session-sync .filter-panel .count {
	width: 30px;
	height: 12px;
	margin: 3px 10px 3px 0;
	padding: 3px 0;
	background: #DDD;
	border-radius: 3px;
	text-align: center;
	line-height: 100%;
	color: #333;
}

#session-sync .filter-panel .label input {
	margin: 0 10px;
	color: #333;
	display: none;
}

#session-sync .filter-panel .label[active] {
	background: #FFF;
}

#session-sync .filter-panel .label[active] .name {
	color: #4C91D6;
	font-weight: bold;
}

#session-sync .filter-panel .label[active] .count {
	background: #23A823;
	color: #FFF;
}

#session-sync .filter-panel .label[active]:after {
	content: " ";
	width: 3px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #1AB61A;
}

#session-sync .filter-panel .add-label {
	margin: 0 auto;
	font-size: 12px;
	padding: 4px 20px;
	color: #555;
	text-align: center;
}

#session-sync .filter-panel .add-label:hover {
	cursor: pointer;
	background: #2D92EB;
	color: #FFF;
}

