/**
 * Generic CSS
 */


#session-sync .css-close-button {
	width: 2em;
	height: 2em;
	font-size: 12px;
	border-radius: 2em;
	position: absolute;
	top: 0;
	z-index: 0;
	opacity: 0.75;
	box-sizing: border-box;
}

#session-sync .css-close-button:hover {
	cursor: pointer;
	opacity: 1;
}

#session-sync .css-close-button:hover::after,
#session-sync .css-close-button:hover::before {
	background: #333;
}

#session-sync .css-close-button:after,
#session-sync .css-close-button:before {
	content: "";
	width: 60%;
	height: 16%;
	background: #AAA;
	position: absolute;
	top: 42%;
	left: 20%;
	transform: rotate(45deg);
}

#session-sync .css-close-button:after {
	transform: rotate(-45deg);
}