/**
 * Header Bar
 */

#session-sync .header-bar {
	width: 100%;
	height: 2.5em;

	background: #F5F5F5;
	border-bottom: 1px solid #DDD;
	line-height: 2.4em;
	font-size: 18px;
	position: relative;

	box-sizing: border-box;
}

/**
 * Active session button
 */

#session-sync .header-bar .active-session-btn {
	width: 2.5em;
	background: url("images/icon128.png") no-repeat center;
	background-size: 1em;
	height: 60%;
	opacity: 0.5;
	border: 1px solid red;
	border: unset;
	position: absolute;
	top: 0.5em;
	left: 0;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
	display: none;
}

#session-sync[session="current"] .header-bar .active-session-btn,
#session-sync .header-bar .active-session-btn:hover {
	background-size: 1.2em;
	cursor: pointer;
	opacity: 1;
}

/**
 * Active session description
 */

#session-sync .header-bar .description {
	width: 100%;
	height: 100%;

	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	color: #555;

	box-sizing: border-box;
}

/**
 * Config button
 */

#session-sync .header-bar .addon-config {
	width: 1.8em;
	height: 1.8em;
	background-image: url("images/menu.png");
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid rgba(0, 0, 0, 0);
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	z-index: 2;
	opacity: 0.4;
	box-sizing: border-box;
	display: none;
}

#session-sync .header-bar .addon-config:hover {
	cursor: pointer;
	background-color: #EEE;
	border: 1px solid #CCC;
	opacity: 1;
}

/**
 * Header Menu
 */

#session-sync .header-bar .header-menu {
	width: 1.8em;
	height: 1.8em;
	background-image: url("images/menu.png");
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid rgba(0, 0, 0, 0);
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	z-index: 2;
	opacity: 0.4;
	box-sizing: border-box;
}


#session-sync .header-bar .header-menu:hover {
	cursor: pointer;
	background-color: #EEE;
	border: 1px solid #CCC;
	opacity: 1;
}

#session-sync .header-bar .header-menu[active="1"] {
	opacity: 1;
}

#session-sync .header-bar .header-menu .menu-area {
	height: 0;
	margin: 0;
	padding: 0;
	background: #FFF;
	font-size: 0.75em;
	border: 1px solid rgba(0, 0, 0, 0);
	position: absolute;
	top: 100%;
	right: -1px;
	overflow: hidden;

	opacity: 0;
	display: flex;
	flex-direction: column;
	box-sizing: initial;

	transition-property: width, height, padding, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

#session-sync .header-bar .header-menu[active="1"] .menu-area {
	height: auto;
	padding: 1em;
	border: 1px solid #CCC;

	opacity: 1;
}

#session-sync .header-bar .header-menu .menu-area:hover {
	cursor: default;
}

#session-sync .header-bar .header-menu .menu-row {
	display: flex;
}

#session-sync .header-bar .header-menu .menu-button {
	width: 6em;
	height: 3.5em;
	margin: 0 0 0 0.6em;
	padding: 0.5em 0;
	border: 1px solid #FFF;

	box-sizing: content-box;
	flex: 1;
}

#session-sync .header-bar .header-menu .menu-button:first-child {
	margin: 0;
}

#session-sync .header-bar .header-menu .menu-button:hover {
	cursor: pointer;
	background-color: #F5F5F5;
	border-color: #DDD;
}

#session-sync .header-bar .header-menu .menu-button .icon {
	height: 2em;
	background-image: url("images/icons/power.png");
	background-size: contain !important;
	background-repeat: no-repeat;
	background-position: center;
}

#session-sync .header-bar .header-menu .menu-button[id="help"] .icon {
	background-image: url("images/icons/brightness.png");
}

#session-sync .header-bar .header-menu .menu-button[id="config"] .icon {
	background-image: url("images/icons/gear.png");
}

#session-sync .header-bar .header-menu .menu-button[id="window-view"] .icon {
	background-image: url("images/icons/browser.png");
}

#session-sync .header-bar .header-menu .menu-button[id="tab-view"] .icon {
	background-image: url("images/icons/document.png");
}

#session-sync .header-bar .header-menu .menu-button[id="feedback"] .icon {
	background-image: url("images/icons/mail.png");
}

#session-sync .header-bar .header-menu .menu-button[id="export"] .icon {
	background-image: url("images/icons/booklet.png");
}

#session-sync .header-bar .header-menu .menu-button[id="github"] .icon {
	background-image: url("images/github-logo.png");
}

#session-sync .header-bar .header-menu .menu-button .title {
	height: 1.4em;
	margin-top: 0.4em;
	font-size: 0.8em;
	line-height: 100%;
	text-align: center;
	color: #555;
}


