/**
 * Control Panel
 */

#session-sync .session-toolbar {
	width: 100%;
	height: 3em;

	background: #FFF;
	color: #000;
	display: flex;
	font-size: 12px;

	position: relative;
	opacity: 100;
	border-bottom: 1px solid #CCC;
	box-shadow: 0px 0px 3px 0px #CCC;
	z-index: 1;

	transition: all 0.15s;
}

#session-sync .session-toolbar .session-selector {
	width: 220px;
	min-width: 160px;
	max-width: 60%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-right: 1px solid #DDD;

	line-height: 3em;
	word-break: break-all;
	text-align: center;
	color: #555;

	display: flex;
	box-sizing: border-box;
}

#session-sync .session-toolbar .session-selector .button {
	text-align: center;
	display: block;
	color: #333;
	flex: 1;
}

#session-sync .session-toolbar .session-selector .button:hover {
	cursor: pointer;
}

#session-sync .session-toolbar .session-selector .active-session {
	background-image: url("images/icon128.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.8em;
	background-color: #FFF;
}

#session-sync[list="active"] .session-toolbar .session-selector .active-session,
#session-sync[list="sync"] .session-toolbar .session-selector .sync,
#session-sync[list="history"] .session-toolbar .session-selector .history {
	display: block;
	background-color: #2D92EB;
	color: #FFF;
}

#session-sync[history="false"] .session-toolbar .session-selector .history {
	display: none;
}

/*
 * Session info
 */

#session-sync:not([session="restore"]) .session-toolbar .session-date {
	display: none;
}

#session-sync .session-toolbar .session-date {
	padding: 0.9em 1em;
	color: #999;
	text-align: right;
	display: block;
	position: absolute;
	top: -1px;
	right: 0;
	z-index: 10;
}

/**
 * 	Menu Section
 */

#session-sync .session-toolbar .menu-bar {
	height: 100%;
	padding: 0.5em;

	box-sizing: border-box;
	flex: 1;
}

#session-sync .session-toolbar .menu-bar .button {
	width: 2.6em;
	height: 100%;
	float: left;
	background: url("images/icons/none.png") no-repeat center;
	background-size: contain !important;

	filter: saturate(100%);
}

#session-sync .session-toolbar .menu-bar .button:hover {
	cursor: pointer;
	filter: saturate(100%);
	box-shadow: none;
}

#session-sync .session-toolbar .menu-bar .separator {
	height: 100%;
	width: 1px;
	margin: 0 0.5em;
	background: #CCC;
	float: left;
}

#session-sync .session-toolbar .menu-bar .add {
	background: url("images/icons/star.png") no-repeat center;
	filter: saturate(100%);
}

#session-sync .session-toolbar .menu-bar .save {
	background: url("images/icons/heart.png") no-repeat center;
	filter: saturate(100%);
}

#session-sync .session-toolbar .menu-bar .merge-sessions {
	background: url("images/icons/merge.png") no-repeat center;
}

#session-sync .session-toolbar .menu-bar .replace-session {
	background: url("images/icons/recycle.png") no-repeat center;
}

#session-sync .session-toolbar .menu-bar .restore {
	background: url("images/icons/stack.png") no-repeat center;
}

#session-sync .session-toolbar .menu-bar .restore-new-win {
	background: url("images/icons/frames.png") no-repeat center;
}

/*
 * Menu state
 */

#session-sync[session="current"] .session-toolbar .menu-bar > * {
	display: none;
}

#session-sync[session="current"] .session-toolbar .menu-bar .save {
	display: block;
}

#session-sync[session="restore"] .session-toolbar .menu-bar .save {
	display: none;
}

#session-sync[session="history"] .session-toolbar .menu-bar > * {
	display: none;
}

#session-sync[session="history"] .session-toolbar .menu-bar .save,
#session-sync[session="history"] .session-toolbar .menu-bar .restore-new-win {
	display: block;
}

/*
 * Save configuration
 */

#session-sync .session-toolbar .menu-bar .save-config {
	height: 100%;
	padding: 0 40px 0 0;
	display: block;
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch {
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

#session-sync .session-toolbar .menu-bar:hover .save-config .comp-toggle-switch {
	opacity: 1;
}

#session-sync[session="restore"] .session-toolbar .menu-bar .save-config {
	display: none;
}

#session-sync[session="history"] .session-toolbar .menu-bar .save-config .comp-toggle-switch[windows] {
	display: none;
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch {
	height: 100%;
	width: 4em;
	margin: 0;
	float: right;
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch .label {
	display: none;
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch .switch {
	width: 2.6em;
	height: 100%;
	background-color: #40B740;
	background-image: url("images/icons/gear.png");
	background-size: 1.6em;
	background-repeat: no-repeat;
	background-position: center right 0.2em;
	border-radius: 2em;
	display: block;

	box-sizing: border-box;
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch .switch:after {
	display: none;
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch .switch[state="false"] {
	background-color: #BBB;
	background-position: center left 0.2em;
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch[pin] .switch {
	background-image: url("images/icons/pin.png");
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch[pin-state] .switch {
	background-image: url("images/icons/pin2.png");
}

#session-sync .session-toolbar .menu-bar .save-config .comp-toggle-switch[windows] .switch {
	background-image: url("images/icons/stack.png");
}
