/*
 * Display info about a Session
 */

#Session-Sync-Add-on-ReD .session-info {
	width: calc(100% - 250px);
	height: 100%;
	background: #FEFEFE;
	float: right;

	/*CSS3*/
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .session-info .description {
	width: 100%;
	height: 43px;
	padding: 10px;

	background: #F5F5F5;
	border-bottom: 1px solid #CCC;

	font-size: 16px;
	white-space: nowrap;
	color: #555;

	overflow: hidden;
	box-sizing: border-box;
}

/*
 * Style Tabs
 */

#Session-Sync-Add-on-ReD .session-info .bookmarks {
	width: 100%;
	padding: 4px;
	overflow: hidden;

	/*CSS3*/
	box-sizing: border-box;
	flex: 1;
}

#Session-Sync-Add-on-ReD .session-info .bookmarks:hover {
	overflow: auto;
}

#Session-Sync-Add-on-ReD .session-info .bookmark {
	width: 100%;
	height: 24px;
	margin: 0;
	padding: 4px;
	border: #999;
	display: block;

	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .session-info .bookmark.drag {
	background-color: #FBD4B0;
}

#Session-Sync-Add-on-ReD .session-info .bookmark:hover {
	background: #EEE;
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .session-info .bookmark * {
	float: left;
}

#Session-Sync-Add-on-ReD .session-info .bookmark .favicon {
	width: 16px;
	height: 16px;
	background: url('images/favicon.png');
	background-size: 16px;
	background-repeat: no-repeat;
}

#Session-Sync-Add-on-ReD .session-info .bookmark .text {
	width: calc(100% - 20px);
	height: 100%;
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;

	box-sizing: border-box;
}

/**
 * 	Menu Section
 */


#Session-Sync-Add-on-ReD .menu {
	width: 100%;
	height: 20px;
	padding: 5px 0;
	border-bottom: 1px solid #CCC;
	background: #F9F9F9;
	display: none;
}

#Session-Sync-Add-on-ReD .menu .save,
#Session-Sync-Add-on-ReD .session-info .description {
	display: none;
}

#Session-Sync-Add-on-ReD .menu .button {
	height: 100%;
	width: 40px;
	font-size: 14px;
	color: #555;
	float: left;
}

#Session-Sync-Add-on-ReD .menu .button:hover {
	color: #000;
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .menu .save {
	width: 100%;
	padding-left: 30px;
	background: url('images/add-bookmark.png') no-repeat 10px center;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .menu .add {
	background: url('images/add-tab-grey.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .add:hover {
	background: url('images/add-tab.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore {
	background: url('images/restore-grey.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore:hover {
	background: url('images/restore.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore.new-w {
	background: url('images/restoreW-grey.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore.new-w:hover {
	background: url('images/restoreW.png') no-repeat center;
}

/*
 * Tooltips
 */

#Session-Sync-Add-on-ReD .menu .add .tooltip {
	width: 110px;
	left: -35px;
}

#Session-Sync-Add-on-ReD .menu .restore .tooltip {
	width: 80px;
	left: -20px;
}

#Session-Sync-Add-on-ReD .menu .restore.new-w .tooltip {
	width: 100px;
	left: -30px;
	margin-top: -45px;
}