/**
 * Tooltip System
 */

#Session-Sync-Add-on-ReD .tooltip-system {
	padding: 10px 15px;
	margin: -16px 0 0 0;

	color: #555;
	background: #FFF;
	text-align: center;
	line-height: 20px;
	border: 1px solid #CCC;
	border-radius: 5px;

	display: none;
	position: fixed;
	top: 1px;
	left: 0;
	z-index: 10000;

	box-shadow: 0 5px 7px 1px #CCC;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .tooltip-system:after {
	content: " ";
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;

	background: #FFF;
	border-style: solid;
	border-color: #BBB;
	border-width: 0 1px 1px 0;

	position: absolute;
	left: 50%;
	top: 100%;

	transform: rotate(45deg);
	z-index: -100;
}

#Session-Sync-Add-on-ReD .tooltip-system[active] {
	display: block;
}
