/**
 * Trash-can
 */

#Session-Sync-Add-on-ReD .trash-can {
	width: 8em;
	height: 8em;

	background-image: url("images/trash-can.png");
	background-position: top 1.5em left 1.5em;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: #FFF;

	border-bottom-right-radius: 8em;

	font-size: 12px;

	border: 1px solid #CCC;
	border-top: none;
	border-left: none;

	box-shadow: 0 0 5px 0 #FFF;

	opacity: 0;

	position: absolute;
	top: 1px;
	z-index: 1;

	box-sizing: border-box;
	transition: all 0.2s ease-out;
}

#Session-Sync-Add-on-ReD[show='true'] .trash-can {
	display: block;
}

#Session-Sync-Add-on-ReD[show='false'] .trash-can {
	display: none;
}

#Session-Sync-Add-on-ReD .trash-can[action='enter'] {
	opacity: 1;
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .trash-can:not([items="0"]) {
	opacity: 1;
}

#Session-Sync-Add-on-ReD .trash-can[dismiss] {
	opacity: 0;
}

#Session-Sync-Add-on-ReD .trash-can:hover {
	cursor: pointer;
	font-size: 16px;
	opacity: 1; 
}

#Session-Sync-Add-on-ReD .count {
	width: 2em;
	height: 2em;

	background: #E54828;
	text-align: center;
	line-height: 1.9em;
	color: #FFF;
	border-radius: 100%;
	opacity: 1;

	position: absolute;
	top: 3.7em;
	left: 1.5em;
	z-index: 1;
	box-sizing: border-box;
	transition: background 0.5s ease-out;
}

#Session-Sync-Add-on-ReD .trash-can[items="0"] .count {
	background: #1AB61A;
}

#Session-Sync-Add-on-ReD .trash-can[items="0"] .dismiss {
	display: none;
}

#Session-Sync-Add-on-ReD .trash-can .dismiss {
	display: block;
	right: 0.5em;
}

#Session-Sync-Add-on-ReD .trash-can[dismiss] {
	opacity: 0;
}

#Session-Sync-Add-on-ReD .trash-can[dismiss] .dismiss {
	display: none;
}

#Session-Sync-Add-on-ReD .trash-can[dismiss]:hover {
	opacity: 1;
}
