/**
 * Trash-can
 */

#session-sync .trash-can {
	width: 8em;
	height: 8em;

	background-image: url("images/trash-can.png");
	background-position: bottom 1.5em right 1.5em;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: #FFF;

	border-top-left-radius: 8em;

	font-size: 12px;

	border: 1px solid #CCC;
	border-bottom: none;
	border-right: none;

	box-shadow: 0 0 5px 0 #FFF;

	opacity: 0;

	position: absolute;
	bottom: 1px;
	right: 0;
	z-index: 100;

	box-sizing: border-box;
	transition: all 0.2s ease-out;
}

#session-sync[show="true"] .trash-can {
	display: block;
}

#session-sync[show="false"] .trash-can {
	display: none;
}

#session-sync .trash-can[droppable="true"] {
	opacity: 1 !important;
}

#session-sync .trash-can[action="enter"] {
	opacity: 1;
	cursor: pointer;
}

#session-sync .trash-can:not([items="0"]) {
	opacity: 1;
}

#session-sync .trash-can[dismiss] {
	opacity: 0;
}

#session-sync .trash-can:hover {
	cursor: pointer;
	font-size: 16px;
	opacity: 1;
}

#session-sync .count {
	width: 2em;
	height: 2em;

	background: #E54828;
	text-align: center;
	line-height: 1.9em;
	color: #FFF;
	border-radius: 100%;
	opacity: 1;

	position: absolute;
	top: 3.7em;
	left: 1.75em;
	z-index: 1;
	box-sizing: border-box;
	transition: background 0.5s ease-out;
}

#session-sync .trash-can[items="0"] .count {
	background: #1AB61A;
}

#session-sync .trash-can[items="0"] .dismiss {
	display: none;
}

#session-sync .trash-can .dismiss {
	display: block;
	right: 0.5em;
}

#session-sync .trash-can[dismiss] {
	opacity: 0;
}

#session-sync .trash-can[dismiss] .dismiss {
	display: none;
}

#session-sync .trash-can[dismiss]:hover {
	opacity: 1;
}
