/**
 * URL Bar
 */

#session-sync .url-bar {
	width: calc(100% - 3em);
	height: 1.5em;
	margin: 0;
	padding: 0;

	/* background: #2D92EB; */
	/* border: 1px solid #FFF; */
	border-radius: 1em;

	overflow: hidden;
	opacity: 0;

	color: #FFF;

	position: absolute;
	top: 0.5em;
	left: 0.5em;
	z-index: 1;

	box-sizing: content-box;
	transition: all 0.2s ease-out;
}

#session-sync .url-bar .arrow {
	width: 2em;
	height: 100%;
	display: none;

	background: #FFF;
	text-align: right;
	color: #777;
	float: left;
}

#session-sync .url-bar .arrow:after {
	content: " ";
	width: 2em;
	height: 2em;
	margin: 2px 0;
	background: inherit;

	position: absolute;
	left: 0;
	z-index: -2;
	transform:  translate(1em, -0.1em) rotate(45deg);
}

#session-sync .url-bar .url {
	height: 100%;
	padding-left: 8em;
	background: #2D92EB;
	font-size: 0.75em;
	line-height: 2em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#session-sync[search-box-content="true"] .url {
	padding-left: calc(25% + 2.5em);
}

#session-sync .url-bar[data-active="true"] {
	opacity: 1;
	bottom: -1px;
}

#session-sync .url-bar .copy-input {
	position: absolute;
	top: -5em;
}

#session-sync .url-bar .copy-feedback {
	width: 5em;
	height: 100%;

	background: #38B751;
	color: #FFF;
	text-align: center;
	font-size: 0.75em;
	line-height: 2em;

	position: absolute;
	top: 0;
	right: -5em;

	transition: all 0.2s;
}

#session-sync .url-bar .copy-feedback[active] {
	right: 0;
}
