@charset "utf-8";
/* CSS Document */

/* Panel Style */
/* TODO inspect if possible to append UI relative to btn */
#Session-Sync-Add-on-ReD {
	width: 700px;
	height: 400px;

	background: #FFF;
	border: 1px solid #BBB;
	border-radius: 3px;
	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

	position: fixed;
	z-index: 100;
	color: #000 !important;
	text-shadow: none !important;

	/*transition: all 0.2s;*/
	box-shadow: 0px 0px 5px 0px #CCC;
}

#Session-Sync-Add-on-ReD[state='centered'] {
	margin: -200px -350px;
	top: 50%;
	left: 50%;
}

#Session-Sync-Add-on-ReD[state='pinned-right'] {
	width: 600px;
	margin: 0 0 0 -565px;
}

#Session-Sync-Add-on-ReD[state='pinned-left'] {
	margin: 0 0 0 -35px;
}

#Session-Sync-Add-on-ReD[show='true'] {
	display: block;
}

#Session-Sync-Add-on-ReD[show='false'] {
	display: none;
}

/*
 * Media Queries
 */
@media (min-width: 600px) and (max-width: 700px) {
	#Session-Sync-Add-on-ReD {
		width: 600px;
	}
	#Session-Sync-Add-on-ReD[state='centered'] {
		margin: -200px -300px;
	}
}

@media (max-width: 600px) {
	#Session-Sync-Add-on-ReD {
		width: 500px;
	}
	#Session-Sync-Add-on-ReD[state='centered'] {
		margin: -200px -250px;
	}
	#Session-Sync-Add-on-ReD[state='pinned-right'] {
		margin: 0 0 0 -465px;
	}
}

#Session-Sync-Add-on-ReD .group {
	width: 100%;
	clear: both;
}

#Session-Sync-Add-on-ReD .content {
	width: 100%;
	height: 100%;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Panel Body
 */

#Session-Sync-Add-on-ReD .body {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

/*
 * Session Info States
 */
#Session-Sync-Add-on-ReD[session="current"] .session-info .menu > * {
	display: none;
}

#Session-Sync-Add-on-ReD[session="current"] .session-info .menu,
#Session-Sync-Add-on-ReD[session="current"] .session-info .save {
	display: block;
}

#Session-Sync-Add-on-ReD[session="restore"] .session-info .description,
#Session-Sync-Add-on-ReD[session="restore"] .session-info .menu {
	display: block;
}

#Session-Sync-Add-on-ReD .confirm-box {
	width: 160px;
	padding: 10px;
	margin: -50px 0 0 -95px;
	background: #FFF;
	border: 1px #CCC solid;

	display: none;
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;

	box-shadow: 3px 3px 5px 0 #CCC;
	transform: translateX(5px);
	z-index: 1;
}

#Session-Sync-Add-on-ReD .confirm-box[data-active="true"] {
	display: block;
}

#Session-Sync-Add-on-ReD .confirm-box .info {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 5px 0;
	color: #333;
	text-align: center;
	font-size: 16px;
}

#Session-Sync-Add-on-ReD .confirm-box .ok {
	margin: 0 10px 0 0;
	color: #FFF;
	background: #E86A5C; /*#EA5F4D;*/
}

#Session-Sync-Add-on-ReD .confirm-box .ok:hover {
	background: #DC462C;
}

#Session-Sync-Add-on-ReD .confirm-box .cancel {
	color: #FFF;
	background: #999;
}

#Session-Sync-Add-on-ReD .confirm-box .cancel:hover {
	background: #777;
}

#Session-Sync-Add-on-ReD .confirm-box .button {
	width: 75px;
	padding: 5px 0;
	text-align: center;
	float: left;

	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .confirm-box .button:hover {
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .context-menu {
	width: 135px;
	padding: 5px;
	background: #FFF;
	border: 1px #CCC solid;

	display: none;
	position: fixed;
	left: 0;
	top: 0;

	box-shadow: 3px 3px 5px 0 #CCC;
	transform: translateX(5px);
	z-index: 2;
}

#Session-Sync-Add-on-ReD .context-menu[data-active="true"] {
	display: block;
}

#Session-Sync-Add-on-ReD .context-menu .button {
	width: 100%;
	padding: 5px;

	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .context-menu .button:hover {
	background: #EEE;
	cursor: pointer;
}

/**
 * 	Edit Session Section
 */
#Session-Sync-Add-on-ReD .field-edit-widget {
	width: 100%;
	padding: 10px;
	background: #FFF;
	border: 1px solid #CCC;

	visibility: hidden;
	opacity: 0;

	position: absolute;
	top: 0;

	box-sizing: border-box;
	box-shadow: 0px 0px 5px 0px #CCC;

	transition: 0.2s all ease-out;
}

#Session-Sync-Add-on-ReD .field-edit-widget[data-active] {
	top: -100px;
	opacity: 1;
	visibility: visible;
	z-index: 1000;
}

#Session-Sync-Add-on-ReD[state='pinned-right'] .field-edit-widget[data-active] {
	top: 100px;
}

#Session-Sync-Add-on-ReD .field-edit-widget .group {
	margin: 3px 0;
	float: left;
}

#Session-Sync-Add-on-ReD .field-edit-widget label {
	width: 80px;
	float: left;
}

#Session-Sync-Add-on-ReD .field-edit-widget input {
	width: calc(100% - 100px);
	float: left;
}

#Session-Sync-Add-on-ReD .field-edit-widget .button {
	padding: 0 10px;
	font-size: 14px;
	text-align: center;
	color: #555;
	float: right;
}

#Session-Sync-Add-on-ReD .field-edit-widget .button:hover {
	color: #000;
	cursor: pointer;
}

/*
 * Display info about a Session
 */

#Session-Sync-Add-on-ReD .session-info {
	width: calc(100% - 250px);
	height: 100%;
	background: #FEFEFE;
	float: right;

	/*CSS3*/
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .session-info .description {
	width: 100%;
	height: 43px;
	padding: 10px;

	background: #F5F5F5;
	border-bottom: 1px solid #CCC;

	font-size: 16px;
	white-space: nowrap;
	color: #555;

	overflow: hidden;
	box-sizing: border-box;
}

/*
 * Style Tabs
 */

#Session-Sync-Add-on-ReD .session-info .bookmarks {
	width: 100%;
	padding: 4px;
	overflow: hidden;

	/*CSS3*/
	box-sizing: border-box;
	flex: 1;
}

#Session-Sync-Add-on-ReD .session-info .bookmarks:hover {
	overflow: auto;
}

#Session-Sync-Add-on-ReD .session-info .bookmark {
	width: 100%;
	height: 24px;
	margin: 0;
	padding: 4px;
	border: #999;
	display: block;

	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .session-info .bookmark.drag {
	background-color: #FBD4B0;
}

#Session-Sync-Add-on-ReD .session-info .bookmark:hover {
	background: #EEE;
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .session-info .bookmark * {
	float: left;
}

#Session-Sync-Add-on-ReD .session-info .bookmark .favicon {
	width: 16px;
	height: 16px;
	background: url('images/favicon.png');
	background-size: 16px;
	background-repeat: no-repeat;
}

#Session-Sync-Add-on-ReD .session-info .bookmark .text {
	width: calc(100% - 20px);
	height: 100%;
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;

	box-sizing: border-box;
}

/**
 * 	Menu Section
 */


#Session-Sync-Add-on-ReD .menu {
	width: 100%;
	height: 20px;
	padding: 5px 0;
	border-bottom: 1px solid #CCC;
	background: #F9F9F9;
	display: none;
}

#Session-Sync-Add-on-ReD .menu .save,
#Session-Sync-Add-on-ReD .session-info .description {
	display: none;
}

#Session-Sync-Add-on-ReD .menu .button {
	height: 100%;
	width: 40px;
	font-size: 14px;
	color: #555;
	float: left;
}

#Session-Sync-Add-on-ReD .menu .button:hover {
	color: #000;
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .menu .save {
	width: 100%;
	padding-left: 30px;
	background: url('images/add-bookmark.png') no-repeat 10px center;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .menu .add {
	background: url('images/add-tab-grey.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .add:hover {
	background: url('images/add-tab.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore {
	background: url('images/restore-grey.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore:hover {
	background: url('images/restore.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore.new-w {
	background: url('images/restoreW-grey.png') no-repeat center;
}

#Session-Sync-Add-on-ReD .menu .restore.new-w:hover {
	background: url('images/restoreW.png') no-repeat center;
}

/*
 * Tooltips
 */

#Session-Sync-Add-on-ReD .menu .add .tooltip {
	width: 110px;
	left: -35px;
}

#Session-Sync-Add-on-ReD .menu .restore .tooltip {
	width: 80px;
	left: -20px;
}

#Session-Sync-Add-on-ReD .menu .restore.new-w .tooltip {
	width: 100px;
	left: -30px;
	margin-top: -45px;
}
/*
 * Display lsit of all Sessions
 */

#Session-Sync-Add-on-ReD .sessions {
	width: 250px;
	height: 100%;
	padding: 0px;
	/*border: 1px solid #CCC;*/
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #CCC;
	background: hsla(0, 0%, 100%, 0.95);
	float: left;
	overflow: hidden;
	position: relative;

	/*CSS3*/
	display: flex;
	flex-direction: column;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD[state='pinned-right'] .sessions {
	float: right;
	border-right: 1px solid #CCC;
	border-width: 0 0 0 1px;
}

#Session-Sync-Add-on-ReD .search {
	width: calc(100% - 20px);
	height: 24px;
	margin: 10px;
	padding: 0 10px;
	color: #555;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .sessions .category {
	margin: 0 0 2px 0;
	padding: 6px;
	border-bottom: 1px solid #CCC;
}

#Session-Sync-Add-on-ReD .sessions .category .title {
	padding: 2px 10px 2px 0;
	border: none;
	text-align: center;
	color: #999;
}

#Session-Sync-Add-on-ReD .sessions .list {
	width: 100%;
	padding: 0 6px;
	margin: 4px 0 4px 0;
	overflow: auto;
	position: relative;
	overflow: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex: 1;
	transition: width 0.2s;
}

#Session-Sync-Add-on-ReD .sessions .list:hover {
	overflow: auto;
}

#Session-Sync-Add-on-ReD .sessions .list > div {
	margin: 0 0 2px 0;
}

#Session-Sync-Add-on-ReD .sessions .list .date {
	padding: 2px 10px 2px 0;
	border-top: 1px solid #999;
	text-align: right;
	color: #999;
}

#Session-Sync-Add-on-ReD .sessions .date:first-child {
	border-top: none;
}

#Session-Sync-Add-on-ReD .sessions .date[filter="true"] {
	display: none;
}

/*
 * Style Folder Session
 */

#Session-Sync-Add-on-ReD .sessions .folder {
	height: 30px;
	padding: 0 0 0 10px;
	line-height: 30px;
	word-break: keep-all;
	overflow: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Session-Sync-Add-on-ReD .sessions .folder.drag {
	background: #FBD4B0;
}

#Session-Sync-Add-on-ReD .sessions .folder:hover {
	background: #EEE;
	cursor: pointer;
}

#Session-Sync-Add-on-ReD .sessions .folder[active="true"] {
	background: #629BD4;
	color: #FFF;
}

#Session-Sync-Add-on-ReD .sessions .folder[filter="true"] {
	display: none;
}

#Session-Sync-Add-on-ReD .tooltip {
	width: 100px;
	padding: 5px;
	margin: -25px 0 0 -5px;

	color: #333;
	background: #FFF;
	text-align: center;
	line-height: 20px;
	border: 1px solid #AAA;

	visibility: hidden;
	opacity: 0;

	/*display: none;*/
	position: absolute;
	top: -100%;
	left: 0;
	z-index: 1000;

	transition: 0.1s all ease-out;
	transition-delay: 0.3s;
}

#Session-Sync-Add-on-ReD .tooltip:after {
	content: " ";
	width: 16px;
	height: 16px;
	margin: 17px 0 0 -8px;

	background: #FFF;
	border-style: solid;
	border-color: #AAA;
	border-width: 0 1px 1px 0;

	position: absolute;
	left: 50%;

	transform: rotate(45deg);
	z-index: -100;
}

#Session-Sync-Add-on-ReD .tooltip-parent {
	position: relative;
	z-index: 1001;
}

#Session-Sync-Add-on-ReD .tooltip-parent:hover .tooltip {
	opacity: 1;
	visibility: visible;
	/*display: block;*/
}

/*
 * Display info about a Session
 */

#Session-Sync-Add-on-ReD .session-info .bookmark-url {
	width: 100%;
	height: 28px;
	margin: 0;
	padding: 0;

	background: #629BD4;
	color: #FFF;
	line-height: 26px;
	border: 1px solid #CCC;

	opacity: 0;

	position: absolute;
	overflow: hidden;
	left: -1px;
	bottom: 0;

	box-sizing: content-box;
	transition: all 0.2s  ease-out;
	z-index: -1;
}

#Session-Sync-Add-on-ReD .session-info .bookmark-url .url {
	padding: 0 40px;
	white-space: nowrap;
}

#Session-Sync-Add-on-ReD .session-info .bookmark-url .arrow {
	width: 20px;
	height: 100%;

	background: #FFF;
	text-align: right;
	color: #777;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#Session-Sync-Add-on-ReD .session-info .bookmark-url .arrow:after {
	content: " ";
	width: 22px;
	height: 22px;
	margin: 2px 0;
	background: inherit;

	position: absolute;
	right: 0;
	z-index: -2;
	transform:  translate(11px, 1px) rotate(45deg);
}

#Session-Sync-Add-on-ReD .session-info .bookmark-url[data-active="true"] {
	height: 28px;
	opacity: 1;
	bottom: -40px;
}