body {
	margin: 0 auto;
	/*background: url('img/grain.png');*/
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

/*
 * Content
 */

#container {
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
}

/*
 * Left Panel
 */

#panel {
	width: 150px;
	height: 100%;
	border-right: 1px solid #DDD;
	background: #F5F5F5;
	color: #000;
	
	transition: all 0.2s;
}

#panel:hover {
	width: 200px;
}

#panel .logo {
	margin: 10px 0;
	height: 64px;
	width: 100%;
	background: url('../../data/images/icon64.png') center top no-repeat;
}

#panel .separator {
	margin: 5px 0; 
	border-bottom: 1px solid #DDD;
}

#panel .session-box {
	padding: 5px 0;
	color: #555;
	text-align: center;
}

#panel .session-box:hover {
	background: #DDD;
	cursor: pointer;
}

#panel .session-box[active] {
	background: #2D92EB;
	color: #FFF;
}


#panel .filters {
}

#panel .filters .title {
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
	
}

#panel .filters .active {
	background: #FFF;
}

#panel .filters .active {
	color: #D87716;
}

#panel .label {
	height: 24px;
	padding: 3px 0;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	word-break: break-all;

	display: flex;
	position: relative;
}

#panel .label:hover {
	cursor: pointer;
	background: #FFF;
}

#panel .name {
	width: 80%;
	padding: 0 10px;
	text-align: right;
	overflow: hidden;
	
	flex: 1;
}

#panel .count {
	width: 30px;
	height: 12px;
	margin: 3px 10px 3px 0;
	padding: 3px 0;
	background: #DDD;
	border-radius: 3px;
	text-align: center;
	line-height: 100%; 
	color: #333;
}

#panel .filters .active .name {
	color: #4C91D6;
	font-weight: bold;
}

#panel .filters .active .count {
	background: #23A823;
	color: #FFF;
}

#panel .filters .active:after {
	content: " ";
	width: 3px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #16D816;
	background: #1AB61A;
}

/*
 * Content
 */

#content {
	height: 100%;
	padding: 10px;
	background: #EEE;
	flex: 1;
}

/*
 * Controls
 */

#controls {
	width: 100%;
	height: 120px;
	padding: 10px;
	background: #F2F2CE;
}

#filter-box input {
	height: 24px;
	padding: 0 10px;	
	border-radius: 12px;
	border: 1px solid #CCC;
}

#controls #trash-can {
	width: 100px;
	height: 100px;
	background: url('img/trash-can.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

#controls #trash-can:hover {
	opacity: 1;
}


/*
 * Grids
 */

.grids {
	width: 100%;
	height: 400px;
}

.grids .grid {
	width: 25%;
	height: 80px;
	border: 1px solid #DDD;
	float: left;

	box-sizing: border-box;
	transition: 0.3s all;
}

.grids .highlight {
	background: rgba(255, 255, 0, 0.2) !important;
}

.grids .grid:nth-child(3n + 1) {
	background: rgba(255, 0, 0, 0.2);
} 
.grids .grid:nth-child(3n + 2) {
	background: rgba(0, 255, 0, 0.2);
}
.grids .grid:nth-child(3n) {
	background: rgba(0, 0, 255, 0.2);
} 

/*
 * Sessions
 */

#session-area {
	display: flex;
	flex-direction: row;
}

#sessions {
	background: #F2CECE;

	flex: 1;
	position: relative;
	height: 600px;
	overflow-y: scroll;
	overflow-x: visible;
	-moz-user-select: none;
}

#sessions .session {
	width: 25%;
	height: 60px;
	margin: -30px 0 0 -12.5%;
	background: #FFF;
	text-align: center;

	transition-property: all;
	transition-duration: 0.3s;
	position: absolute;
}

#sessions .session.dragend {
	width: 200px;
	position: absolute;
}

#sessions .session.dragging {
	width: 200px;
	margin: 1px 0 0 1px;
	opacity: 0.9;
	z-index: 10;

	position: fixed;

	transition-property: width, opacity;
}

#sessions .session .name {
	padding: 10px 0;
	background: #FFF;
	font-size: 14px;
	text-align: center;
}

/*
 * Active Session
 */

#session-block {
	width: 60%;
	background: #E0F2CE;
	transition: width 0.2s;
} 
