@charset "utf-8";
/* CSS Document */

/*

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/OpenSans-Regular-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/OpenSans-Semibold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/OpenSans-Light-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: normal;
    src: url("./fonts/OpenSans-Italic-webfont.ttf") format("truetype");
}

*/

/*
 	Theme Colors

 		green		background-color: #359740;

 		blue		background: -moz-linear-gradient(top, #43A6E1 0%, #257BC2 100%);
					background-color: #3490D2;

 		gray		background: -moz-linear-gradient(top, #9e9e9e 0%, #747474 100%);
 					background: -moz-linear-gradient(top, #8d8d8d 0%, #525252 100%);

 */



/***********
 * Body Page
 ***********/

body {
	margin:0;

	background-color: #EBF1F5;
	background-image: url(../images/grain_header.png), url(../images/grain.png);
	background-repeat: repeat-x, repeat;

	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

	cursor: default;

	-moz-user-select: none;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/*
 * Identity
 */


#identity {
	width: 100%;
	text-align: center;
	font-family: "Open Sans Light", "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

#identity .logo {
	margin: 30px auto 0;
	width: 200px;
	height: 100px;
	background-image: url("../images/logo.png");
	background-position: center;
	background-repeat: no-repeat;
}

#identity > div {
	width: 100%;
}

#identity .title {
	height: 100px;
	background-image: url("../images/identity-marks.png");
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 60px;
	overflow: hidden;
}


#identity .save {
	font-size: 16px;
	color: #359740;
	font-weight: bold;
	opacity: 0;

	transition-property: opacity;
	transition-duration: 1s;
}


/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */


/*******************
 *	Box Containers
 *******************/

#container {
	width:500px;
	margin:10px auto;
	color: #333;
	text-align: center;
	float: left;
}

#container .box {
	width: 80%;
	height: auto;
	margin: 20px auto;
	border: 5px solid rgba(255, 255, 255, 0.8);
	display: table;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#container .box > div {
	display:table-cell;
	vertical-align: middle;
}

#container .title {
	width: 40%;
	font-size: 24px;
	border-right: 5px solid rgba(255, 255, 255, 0.8);
}

#container .cell {
	width: 100%;
	font-size: 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*******************
 *	Disable Option
 *******************/

#container .state,
#container .disabled {
	width: 100%;
	height: 30px;
	padding: 4px 0;
	margin: 0 0 5px 0;

	background: #747474;

	color: #FFF;
	font-size: 14px;
	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#container .state:hover {
    cursor: pointer;
	background: #525252;
}

#container .disabled {
	padding: 10px 20px 10px 0;
	height: 40px;
	margin: 0;
	background-image: url("../images/blue-arrow.png"),
					-moz-linear-gradient(top, #43A6E1 0%, #257BC2 100%);
	background-position: center right 60px, center center;
	background-repeat: no-repeat;

	transition-property: padding-right, background-position;
	transition-duration: 1s;
}

#container .disabled:hover {
	padding: 10px 0;
	background-position: center right 10px, center center;
    cursor: pointer;
}


/*******************
 *	Reset Default
 *******************/

#container .reset {
	width: 100%;
	height: 30px;
	padding: 4px 0;

	background: -moz-linear-gradient(top, #43A6E1 0%, #257BC2 100%);
	font-size: 13px;
	color: #FFF;

	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	transition: all 0.3s;
	opacity: 0.6;

}

#container .reset:hover {
	cursor: pointer;
	opacity: 1;
}


/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */


/*******************
 *	Select List
 *******************/

.selectlist {
	width: 100%;
	height: 30px;
	margin: 0 0 5px 0;
	background-color: #3490D2;

	color: #FFF;
	font-size: 14px;
	float: left;
}

.selectlist .info {
	width: 66.66%;
	height: 100%;
	padding: 4px 0;

	border-right: 1px solid rgba(255, 255, 255, 0.8);
	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.selectlist .drop {
	width: 33.33%;
	height: 100%;
	padding: 4px 15px 4px 0;

	background-image: url("../images/drop_list_sign.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #359740;

	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.selectlist .drop:hover {
	cursor: pointer;
	background-color: #208B20;
}

.dropdown {
	width: 210px;
	margin: 0 0 0 5px;
	padding: 5px;

	border: 5px solid #3490D2;
	background: #666;
	background-color: #EBF1F5;
	background-image: url(../images/grain.png);
	background-repeat: repeat;
	color: #000;

	position: relative;
	top:-40px;
	left:100%;
	z-index: 10;

	overflow:auto;
	opacity: 0;
	visibility: hidden;

	transition: all 0.3s;

}

.dropdown > div {
	width: 30px;
	height: 30px;
	padding: 5px 0;
	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.dropdown > div:hover {
	background:#3490D2;
	color:#FFF;
	border-radius: 2px;
	cursor: pointer;
}

/* ========================================================================== */
/* ========================================================================== */


/*******************
 *	HotKeys Settings
 *******************/

#hotkeys {
	color: #FFF;

	height: 40px;

	transition-property: height;
	transition-duration: 1s;
}

#kstate {
	height: 100px;
}

/***********************
 * Special Key
 ***********************/

#specialkey {
	width: 100%;
	height: 30px;
	margin: 0 0 5px 0;
	background: -moz-linear-gradient(top, #43A6E1 0%, #257BC2 100%);

	font-size: 14px;

	float: left;
}

#specialkey > div {
	width: 33.33%;
	height: 30px;
	padding: 4px 0;

	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

#specialkey > div:nth-child(2) {
	border-left: 1px solid rgba(255, 255, 255, 0.8);
	border-right: 1px solid rgba(255, 255, 255, 0.8);
}


#specialkey > div:hover {
	cursor: pointer;
//	background-color: #359740;
}

#hotkeys .hkey_use {
	background-color: #208B20;
}


/* ========================================================================== */
/* ========================================================================== */


/******************
 *	Mouse Actions
 ******************/

#mouse .selectlist {
	margin: 0 0 5px 0;
}

#mouse .info {
	width: 50%;
	padding: 4px 0 4px 20px;
	text-align: left;
}

#mouse .drop {
	width: 50%;
}

#mouse .dropdown {
	top:-70px;
	width: 100px;
}

#mouse .dropdown > div {
	width: 100px;
}


/* ========================================================================== */
/* ========================================================================== */


/*******************
 *	Panel Dimensions
 *******************/

#dimensions .info {
	width: 60%;
}

#dimensions .drop {
	width: 40%;
}

#dimensions .selectlist:first-child .dropdown {
	width: 100px;
	height: 150px;
	overflow: auto;
}

#dimensions .selectlist:first-child .dropdown > div {
	width: 100%;
}

#dimensions .selectlist:nth-child(2) .dropdown {
	top: -70px;
	width: 30px;
}

/* ========================================================================== */
/* ========================================================================== */

/*******************
 *	Panel Background
 *******************/

#load_img {
	cursor: pointer;
	background-size: contain;
	float: left;

}

#preview {
	height: 0px;
	width: 100%;
	float: left;
	transition: height 1s ease 0.5s;
}

#browse_img {
	display:none;
}

/* ========================================================================== */
/* ========================================================================== */

/**************
 *	About Addon
 **************/

#credits a {
	color: #FFF;
	text-decoration: none;
	display: block;
}

