@charset "utf-8";
/* CSS Document */

/***********
 * Body Page
 ***********/

body {
	margin:0;

	background-color: #EBF1F5;
	background-image: url(../images/grain_header.png), url(../images/grain.png);
	background-repeat: repeat-x, repeat;

	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

	cursor: default;
}

#page {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/*
 * Identity
 */


#identity {
	width: auto;
	height: 120px;
	text-align: center;
	font-family: "Open Sans Light", "Open Sans", Arial, Helvetica, sans-serif;
	position: relative;
}

#identity .title {
	width: auto;
	height: auto;
	font-size: 60px;
	color: #DF5600;
	overflow: visible;
	text-align: left;

	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
}

#identity .logo {
	margin: 0 auto 0;
	width: 80px;
	height: 80px;
	background-image: url("../images/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: -100px;
	top: -5px;
}

/**************
 *	About Addon
 **************/

#github {
	width: 150px;
	height: 50px;
	text-decoration: none;
	display: block;
	position: absolute;
	opacity: 0.6;
	top: 20px;
	right: 0;
}

#github:hover {
	opacity: 0.8;
}

#github a {
	width: 100%;
	height: 100%;
	position: absolute;
}

#github .logo {
	width: 50px;
	height: 100%;
	background-image: url("../images/github-logo.png");
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}

#github .brand {
	width: 100px;
	height: 100%;
	background-image: url("../images/github.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	float: left;
}

#feedback {
	height: 50px;
	display: block;
	position: absolute;
	opacity: 0.7;
	top: 20px;
	left: 0;
}

#feedback .icon {
	width: 50px;
	height: 100%;
	background-image: url("../images/mail.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right, center left;
	float: left;
}

#feedback .info {
	height: 100%;
	color: #333;
	line-height: 200%;
	font-size: 24px;
	text-decoration: none;
	float: left;
}

#feedback:hover {
	opacity: 1;
}


#tooltip {
	width: auto;
	font-size: 14px;
	padding: 10px;
	margin: -25px 0 0 0;
	color: #333;
	transform: translate(-50%, -30px);

	background: rgba(255, 255, 255, 1);
	text-align: center;
	line-height: 20px;
	border: 1px solid #CCC;
	border-radius: 5px;

	display: none;
	position: fixed;
	top: 1px;
	left: 0;
	z-index: 1;
	opacity: 0.85;

	box-shadow: 0 2px 4px 0px #999;
	box-sizing: border-box;
}

#tooltip:before {
	content: " ";
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;

	background: #FFF;
	border-style: solid;
	border-color: #BBB;
	border-width: 0 1px 1px 0;

	position: absolute;
	left: 50%;
	top: 100%;

	transform: rotate(45deg);
	z-index: -1;
}

#tooltip[active] {
	display: block;
}


/*******************
 *	Box Containers
 *******************/

#container {
	width: 100%;
	height: 700px;
	margin: 20px auto;
	color: #333;
	overflow: hidden;
	position: relative;
}

#container .bullets {
	width: auto;
	margin-left: 50%;
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
	transform: translateX(-50%);
}

#container .bullet {
	width: 1.1em;
	height: 1.1em;
	padding: 0.2em;
	margin: 0.5em;
	border-radius: 1em;
	background: #CCC;
	float: left;
}

#container .bullet[active] {
	background: #2D92EB;
	cursor: pointer;
}

#container .bullet:hover {
	background: #2D92EB;
	cursor: pointer;
}

#container .carousel {
	width: 2000%;
	height: 100%;
	position: absolute;
	left: 0;
	transition: 1.0s left ease;
}

#container .helpers {
	display: block;
}

#container .box {
	width: 5%;
	height: auto;
	margin: 30px auto 0;
	display: table;

	box-sizing: border-box;
	float: left;
}

#container .scroll-button {
	width: 150px;
	height: 100%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
	top: 0;
}

#container .scroll-button:hover {
	cursor: pointer;
	opacity: 0.7;
}

#container #scroll-left {
	background-image: url("../images/arrow-left.png");
}

#container #scroll-right {
	background-image: url("../images/arrow-right.png");
	right: 0;
}

#container .title {
	width: 100%;
	padding: 10px;
	font-size: 30px;
	border-bottom: 2px solid #FFF;
	text-align: center;
	box-sizing: border-box;
}

#container .tutorial-image {
	width: 100%;
	height: 520px;
	margin: 0 auto;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center center !important;
}

#container .info {
	width: 100%;
	padding: 20px 0 ;
	font-size: 16px;
	text-align: center;
}

#container .highlight {
	color: #DF5600
}

#container a {
	text-decoration: none;
}