@charset "utf-8";
/* CSS Document */

/***********
 * Body Page
 ***********/

body {
	margin:0;

	background-color: #EBF1F5;
	background-image: url(../images/grain_header.png), url(../images/grain.png);
	background-repeat: repeat-x, repeat;

	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

	cursor: default;

	-moz-user-select: none;
}

#page {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/*
 * Identity
 */


#identity {
	width: 100%;
	text-align: center;
	font-family: "Open Sans Light", "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

#identity .logo {
	margin: 30px auto 0;
	width: 140px;
	height: 140px;
	background-image: url("../images/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

#identity .title {
	height: 70px;
	font-size: 60px;
	color: #DF5600;
	overflow: hidden;
	position: absolute;
}

#identity .titleA {
	top: 35px;
	left: -235px;
}

#identity .titleB {
	position: absolute;
	top: 35px;
	left: 160px;
}


/*******************
 *	Box Containers
 *******************/

#container {
	width: 100%;
	height: 700px;
	margin: 10px auto;
	color: #333;
	overflow: hidden;
	position: relative;
}

#container .carousel {
	width: 1000%;
	height: 100%;
	position: absolute;
	left: 0;
	transition: 1.0s left ease;
}

#container .box {
	width: 10%;
	height: auto;
	margin: 20px auto;
	display: table;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}

#container .scroll-button {
	width: 150px;
	height: 100%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
	top: 0;
}

#container .scroll-button:hover {
	cursor: pointer;
	opacity: 0.7;
}

#container #scroll-left {
	background-image: url("../images/arrow-left.png");
}

#container #scroll-right {
	background-image: url("../images/arrow-right.png");
	right: 0;
}

#container .title {
	width: 100%;
	padding: 10px;
	font-size: 30px;
	border-bottom: 2px solid #FFF;
	text-align: center;
}

#container .tutorial-image {
	width: 100%;
	height: 520px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
}

#container .info {
	width: 100%;
	padding: 20px 0 ;
	font-size: 16px;
	text-align: center;
}

.tutorial-image:hover {
}

/************
 *	Help Zone
 ************/


.add-tab {
	background-image: url("../images/tutorial/add-tab.png");
}

.context-menu {
	background-image: url("../images/tutorial/context-menu.png");
}

.context-menu2 {
	background-image: url("../images/tutorial/context-menu2.png");
}

.current-session {
	background-image: url("../images/tutorial/current-session.png");
}

.edit {
	background-image: url("../images/tutorial/edit.png");
}

.new-session {
	background-image: url("../images/tutorial/new-session.png");
}

.pin-mode {
	background-image: url("../images/tutorial/pin-mode.png");
}

/**************
 *	About Addon
 **************/

#github {
	width: 150px;
	height: 50px;
	color: #FFF;
	text-decoration: none;
	display: block;
	position: absolute;
	background-image: url("../images/github.png"), url("../images/github-logo.png");
	background-repeat: no-repeat;
	background-position: center right, center left;
	opacity: 0.3;
	top: -20px;
	right: 0;
}

#github:hover {
	opacity: 0.7;
}

#github a {
	width: 100%;
	height: 100%;
	position: absolute;
}


#feedback {
	width: 50px;
	height: 50px;
	color: #FFF;
	text-decoration: none;
	display: block;
	position: absolute;
	background-image: url("../images/mail50.png");
	background-repeat: no-repeat;
	background-position: center right, center left;
	opacity: 0.3;
	top: 20px;
	right: 0px;
}

#feedback:hover {
	opacity: 0.7;
}

#feedback:hover .tooltip {
	opacity: 1;
}

#feedback a {
	width: 100%;
	height: 100%;
	position: absolute;
}

#feedback .tooltip {
	width: 150px;
	color: #333;
	position: absolute;
	left: 100%;
	font-size: 20px;
	top: 80%;
	left: -40px;
	opacity: 0;
}
